h1, h3 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    text-align: center;
}

input {
    text-align: center;
}

div {
    text-align: center;
}

table, tr, td, caption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4px; 
    border-collapse: collapse;
}